{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block main %}
<div class="container">
  <h1>О нас</h1>
<h4>С нами качественно и выгодно</h4>
<p>С 2010 года мы занимаемся утеплением и отделкой фасадов, устройством плоских кровель и межэтажных стяжек.
  За это время мы получили огромный опыт и сделали сервис по согласованию строительных работ,
  закупке и доставке материалов максимально быстрым и удобным для клиента способом.
  <br><br>

<b>Наша главная цель</b> – создавать лучшие решения, чтобы экономить ваше время и деньги на отделку и утепление домов.

Получить актуальные расценки или сделать заказ Вы можете по телефону, указанному на сайте.
</p>
  <ul>
    <li>Быстрый расчет стоимости;</li>
    <li>Мы предлагаем скидки и гарантируем качество услуг;</li>
    <li>Оказываем помощь в выборе материалов;</li>
    <li>Работаем с крупными и мелкими заказчиками;</li>
    <li>Консультирование, выезд на объект – бесплатно! (Одесса и Одесская область).</li>
  </ul>
  <p>
Утепление стен фасада может производиться с помощью разных материалов. Наиболее востребованными являются:</p>
  <ul>
    <li>Теплая штукатурка;</li>
    <li>Пенопласт;</li>
    <li>Экструдированный пенополистирол;</li>
    <li>Минеральная вата;</li>
    <li>Пенополиизоцианурат (ПИР);</li>
    <li>Пеноизол (жидкий пенопласт).</li>
  </ul>
</div>

{% endblock %}
