{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
{% for post in news %}
<div class="alert alert-light container ">
    <h1>{{ post.title }}</h1>
    <p>{{ post.text|striptags|truncatechars:200 }}</p>
    <div class="row">
        <div>
            <img src="{{ post.avtor.profile.img.url }} " alt="{{ post.avtor }}" class="user_images">
        </div>
        <div>
            <span class="text-muted">Публикация: {{ post.date|date:"d E Y в H:i" }}</span>
    <p><b>Автор:</b><mark>{{ post.avtor }}</mark></p>
        </div>
    </div>
    <a href="{% url 'news' post.id %}" class="btn btn-outline-secondary"> Читать статью</a>

</div>
{% endfor %}
<div class="container">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a href="/" class="btn btn-outline-danger">Начало</a>
    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-danger">Предыдущая</a>
    {% endif %}
     {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-danger">Следующая</a>
    <a href="?page={{ page_obj.paginator_num_pages }}" class="btn btn-outline-danger">Последняя</a>
    {% endif %}
{% endif %}
</div>
{% endblock %}