{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}


{% block main %}
<div class="container">
    <h1 >Контакты </h1>
    <p>Хотите узнать, как связаться со специалистами компании “Budgrand”? Существует несколько вариантов:</p>
    <ul>
        <li>Проще всего по номеру телефонов.</li>
        <li>Наш e-mail для электронных писем: higbudgrand@gmail.com.</li>
    </ul>
</div>

<br><br>
<div class=" ">
  <div>
      <h5> <img src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/phone-64.png" alt="telephone"> <a href="tel:+380 (95) 257-72-79">Телефон: +380 (95) 257-72-79</a></h5>
  </div>
   <div>
      <h5> <img src="https://cdn3.iconfinder.com/data/icons/essential-pack-2/48/8-Email-64.png" alt="telephone"> <a href="mailto:higbudgrand@gmail.com">E-mail: higbudgrand@gmail.com</a></h5>
  </div>
  <div>
      <h5> <img src="https://cdn0.iconfinder.com/data/icons/education-340/100/Tilda_Icons_1ed_location-64.png" alt="telephone">Адрес:  65000, Украина, г. Одесса
</h5>
  </div>
      <div class="time">
      <h5> <img src="https://cdn4.iconfinder.com/data/icons/48-bubbles/48/35.Alarm-Clock-64.png" alt="telephone">Время работы:  с 8-00 до 17-00
          <br>
Выходной: суббота, воскресенье
</h5>
  </div>
</div>

{% endblock %}
