{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="home-page">
  <section class='full-page'>
  <h1>Budgrand - удобно, качествено <br> для всех и каждого</h1>
  <h3>Долговечрость, надежность, Универсальность, </h3>
  <a href="{% url 'contacts' %}"><button>Узнай больше <i class="fas fa-arrow-right"></i></button></a>
</section>

  <section class="features">
    <div>
      <img src="https://cdn1.iconfinder.com/data/icons/building-safety-requirements-color-filled/5000/2021-07-27-Building-safety-requirements-icons-set-color-15-64.png" alt="Договечность">
      <h4>Долговечрость</h4>
      <p>Совершенство в каждом здании</p>
    </div>
    <div>
      <img src="https://cdn0.iconfinder.com/data/icons/qualities-of-a-leader/66/37-64.png" alt="Надежность">
      <h4>Надежность</h4>
      <p>Каждый проект - наша гордость</p>
    </div>
    <div>
      <img src="https://cdn2.iconfinder.com/data/icons/social-connections/52/17-64.png" alt="Универсальность">
      <h4>Универсальность</h4>
      <p>Прочно, сильно, радикально</p>
    </div>
  </section>


<section class='gallery'>
  <h2>Наши роботы</h2>
  <div id='slider'>
    <div><img src="static/img/im1.jpg"  alt="img1"></div>
    <div><img src="static/img/im2.jpg"  alt=img2""></div>
    <div><img src="static/img/im3.jpg"  alt="img3"></div>
    <div><img src="static/img/im4.jpg"  alt="img4"></div>
  </div>
</section>
</div>



{% endblock %}
