{% extends 'blog/base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block main %}
<div class="alert alert-light container ">
    <h1>{{ object.title }}</h1>
    <p>{{ object.text|safe }}</p>
    <div class="row">
        <div>
            <span class="text-muted">Публикация: {{ object.date|date:"d E Y в H:i" }}</span>
        </div>
    </div>
    <hr>
    {% if object.avtor == user %}
    <a href="{% url 'news-update' object.id %} " class="btn btn-danger "> Обновить статью</a>
    <a href="{% url 'news-delete' object.id %}" class="btn btn-danger "> Удалить статью</a>
    {% endif %}
</div>
{% endblock %}