{% extends 'blog/base.html' %}

{% block title %}
Услуги
{% endblock %}

{% block main %}
<h1 class="container">Основные направления работы компании </h1>
<div class="services-container container">
  <div class="box-1"><h3>Полистиролбетон</h3>
      <p>Вам нужен утепляющий и уклонообразующий слой на кровле, выполнить тепло- и звукоизоляцию полов, возвести теплые и дышащие стены? В каждом из этих случаев эффективный результат обеспечит заливка  монолитным (жидким) полистиролбетоном. Заказать услугу можно в компании  «Budgrand». Наши специалисты готовы выполнить разные виды работ максимально качественно и в минимальный срок. </p>
        <a href="{% url 'contacts' %}"><button class="btn btn-outline-warning">Узнать больше </button></a>
</section>
  </div>
  <div class="box-2"><h3>Полусухая стяжка пола</h3>
        <p>Полусухая стяжка пола - современная механизированная строительная технология выравнивания основания под укладку финишного покрытия. Она имеет целый ряд преимуществ и особенностей по сравнению с обычной, привычной нам технологией устройства цементно-песчаной стяжки с арматурной сеткой.</p>
        <a href="{% url 'contacts' %}"><button class="btn btn-outline-warning">Узнать больше </button></a>
  </div>
  <div class="box-3"><h3>Штукатурные работы</h3>
      <p>Машинная штукатурка стен - это новый, усовершенствованный вариант внутренней отделки помещений. В данном случае штукатурка наносится на поверхность механически (набрызг под давлением), с помощью специального оборудования.

Машинная штукатурка стен позволяет в разы ускорить процесс отделки и выравнивания стен и максимально его механизировать. Машина для штукатурки сама замешивает смесь и равномерно подает ее через шланг. Мастеру остается правильно и плавно направлять пистолет на подготовленную  поверхность, после чего выровнять и затереть слой штукатурки специальным инструментом.</p>
        <a href="{% url 'contacts' %}"><button class="btn btn-outline-warning">Узнать больше </button></a>
  </div>
</div>

{% endblock %}